*{
	margin: 0;
	padding: 0;
	color: 	#fff;
}
body{
	background:white;
	overflow: hidden;
	background: #151515;
}
div.input-group{
	width: 100%;
	height: 100vh;
	background:rgb(52,61,70);
}
div.tabs{
	width:  100%;
	height: 45px;
	background: rgb(29,34,39);
	padding-left: 75px;
	display: flex;
}
div.tabs > div.tab{
	width:  200px;
	height: 100%;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-bottom: 4px;
	border-radius: 5px;
	padding-left: 8px;
	padding-right: 8px;
}
div.tab > span.close {
	color: rgb(86,90,93);
}
div.tab > span.close:hover{
	color:  rgb(125,130,136);
}
div.active-tab{
	background: rgb(52,61,70);
	position: relative;
	border-bottom-left-radius: 0px !important;
	border-bottom-right-radius:0px !important ;
}
textarea{
	display: block;
	height: 100%;
	color: rgb(236,95,102) !important;
	background: rgb(52,61,70) !important;
	border: none  !important;
	outline: none !important;
	box-shadow: none !important;
}
textarea::selection{
	background: rgba(78,90,101,.6);
}
textarea::-webkit-scrollbar{
	width: 5px;
	background: rgb(67,76,84);
}
textarea::-webkit-scrollbar-thumb{
	background: rgb(95,102,109);
}
textarea.form-control:focus{
	box-shadow: none !important;
	outline: none !important;
	border: none !important;
}
div.output{
	display: inline-block;
	position: relative;
	width: 50%;
	height: 100vh;
	top: 8px;
	left: 8px;	
	word-wrap: break-word;
}
div.modal-choose{
	position: absolute;
	z-index: 999;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	display: flex;
	justify-content: center;
	align-items: center;
	width: 500px;
	height: 100px;
	background: rgb(14,22,33);
	box-shadow: 0 0 30px rgba(0, 0, 0, .1);
}
div.modal-choose > div.st-c{
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: space-around;
	align-items: center;
}
div.modal-choose > div.st-c > div.block{
	width:  30%;
	height: 90%;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
div.modal-choose > div.st-c > div.block > span{
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 19px;
}
div.modal-choose > div.st-c > div.block > div.st-l > i{
	font-size: 25px;
}
[data-type="html"] i {
	color: rgb(213,104,47);
}
[data-type="css"] i {
	color: rgb(68,114,207);
}
[data-type="js"] i {
	color:  rgb(240, 219, 79);
}
[data-type]:hover {
	transform: scale(1.1,1.1);
	box-shadow: 0 0 10px rgba(0,0,0,.5);
}

div.text-control{
	min-width: 0;
	min-height: 0;
	position: relative;
	padding: 5px;
	background: rgba(29,34,39);
}
div.text-panel{
	background: rgba(29,34,39);
}
div.text-panel > div{
	width: 100%;
}
.btn-outline-success{
	background: rgb(13,17,23) !important;
	border: 1px solid gray !important;
	color: #fff !important;
}
a{
	text-decoration: none !important;
}
.CodeMirror-selected { background: hsla(210, 13%, 40%, 0.7) !important; }
.CodeMirror-focused .CodeMirror-selected { background: hsla(210, 13%, 40%, 0.7) !important; }
button#down_btn{
	position: absolute;
	z-index: 95959595;
	top:0px;
	left: 80%;
}
.form-control:focus{
	box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0);
}
.monokai{
	color: rgb(249,35,114) !important;
	background: rgb(40,41,35) !important;
} 
.Dark{
	color: white !important;
	background: black !important;
}
.Light {
	color: black !important;
	background: white !important;
}
.Breakers{
	color: rgb(236,95,102) !important;
	background: rgb(52,61,70) !important;
}
select{
	-webkit-appearance : none;
}
button{
	margin-bottom: 10px;
}
div.div-modal-box{
	width: 100%;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2416546;
	background: rgba(0,0,0,.95);
	padding-top: 5%;
}
div.modal-content{
	width: 35%;
	min-height: 250px; 
	padding: 15px;
	animation: hides 700ms 3000ms ease;
	box-shadow: 0 0 30px rgba(255,255,255,.4)
	transition: 500ms;
	position: absolute;
	top: -1000px;
	left: 50%;
	transform: translate(-50%,0);
	animation: show 2000ms ease ;
}
@keyframes show{
	from{
		top: -1000px
	}
	to{
		top: 30px;
	}
}
@keyframes hide {
	from{
		transform: scale(1,1);
	}
	to{
		transform: scale(.8,.8);
	}
}
kbd{
	transition: 500ms;
}
kbd:active{
	transform: scale(.97,.97);
}
::-webkit-scrollbar{
	display: none;
}
.CodeMirror.cm-s-default {
	width: 70% !important;
	height: 100vh;
	position: absolute;
	left: 75px;
}
.CodeMirror.cm-s-default{
	background: rgb(52,61,70);
}
.CodeMirror-cursor{
	border-color: orange !important;
}
.cm-tag.cm-bracket 
{
	color: #5ea792 !important;
}
.CodeMirror-gutters{
	background: transparent !important;
	border:  none !important;
	border-left: 1px solid rgba(0,0,0,.1);
}
footer.abs{
	position: absolute;
	width: 100%;
	height: 25px;
	top: 90%;
	display: flex;
	background: rgb(31,37,42);
	z-index: 50;
	align-items: center;
}
footer.abs > div.row-s{
	width: 100%;
	display: flex;
	justify-content:flex-start;
	font-size: 14px;
	height: 100%;
	align-items: center;		
	padding-left: 20px;
}
div.row-s *{
	cursor: pointer;
}
